<!DOCTYPE html>
<html>
  <head>
   <% include partials/head %>
	      <link rel="stylesheet" href="stylesheets/creativemobile.css">
    
  </head>
  <body>
    <% include partials/headerMobile%>
      
      
        


     <div class="container-fluid faqs text-center">
      
            <br>
                  <h2 class="">FAQs</h2>
         <h5 class="FAQHeader">We all have questions.And to me that is a <em style="color:red;">sign of curosity</em>.So fire away...</h5>
         <br>
             <div class="topNav wxt FAQ" style="display:none;">
        
                  
              <a  class="act btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Our Process</a> 
          
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
            <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Investements</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Products</a> 
             
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
          <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Billing & Fees</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Definitions</a> 
           
</div>
         

         
        
       
         
         <div id="FAQue" class="sliderFaqs">
        
             
                  <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Our Process</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consecteturLorem ipsum dolor sit amet, consectetur.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                       <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
           
                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">10</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
         </div>  
             
             
                            <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Investements</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consecteturLorem ipsum dolor sit amet, consectetur.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                       <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
           
                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">10</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
         </div>
                            <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Products</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consecteturLorem ipsum dolor sit amet, consectetur.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                       <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
           
                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">10</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
         </div>
                            <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Billing & fees</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consecteturLorem ipsum dolor sit amet, consectetur.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                       <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
           
                                                    <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">10</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
         </div>
             </div>
        </div> 
       <% include partials/footerMobile %> 

 
   
      
<!--Custom Js links -->  
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
   

</body>
</html>
