<!DOCTYPE html>
<html>
  <head>
           <% include partials/head %>
            <link rel="stylesheet" href="stylesheets/creativemobile.css">

        </head>
    
 
<body>
   <% include partials/headerMobile %>
  
<!--
	
<div class="" style="">
    <nav class="navbar navbar-inverse  mobileHeader" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="" href="#">
        <img class="img-responsive" id="investory" src="images/investoryLogo.png" alt="" />
                    <img class="img-responsive logo-icon" src="images/logoIcon.png" alt="" />
</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      
        <li class="dropdown">
         
        <li><a href="#EmailForm" >Edit Profile</a></li>
          <br>
        <li><a href="#">Setting</a></li>
          <br>
          
        <li><a href="#">My Profile</a></li>
           <li><a href="#">My Story</a></li>
           <li><a href="#">My Moods</a></li>
           <li><a href="#">My Goals</a></li>
    
          <br>
           <li><a href="#">Know Us</a></li>
           <li><a href="#">Pricing</a></li>
           <li><a href="#">Get Started</a></li>
           <li><a href="#">FAQs</a></li>
           <li><a href="#">Blog</a></li>
          <br>
           <li><a href="/logout">Logout</a></li>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav></div>
  
-->
   <div class="container-fluid"> 

  
        <div class=" yourMoodParent">
            
    <div class="yourMood ">
                <h1></h1>
                <h4>Your investory. Our Expertise.</h4>
                <p>How are you feeling today</p>
	
            </div>
        <div class="photosParent">
       
             
                
                 <div class="row">
                 
               <div class="frogIndex"> 
                 
             <div class="col-md-12">
                   <div class="frogImageMoods text-center">
                    <img id="setMood" class="img-responsive" src="#" alt="" />
<!--                    <img class="img-responsive" src="images/frog1.png" alt="" />-->
                    <!--<img class="img-responsive" src="images/frog_eye.png" alt="" />-->
                
                    <h1 id="setMoodText">Feeling Rich</h1>
                </div>
                 
              
                 
            </div></div> 
                 
            </div>
            
            
            <div class="rowIndexSlider">
            <div class="row slider">
            
            
                     <div class="photos">
                         
                          
                         
                    <div class="photosInner">
                     
                        <img class="change" id="Broke" src="images/smallBroke.png" alt="Home view" >
                     
                      <img class="change" id="Loved" src="images/smallLoved.png" alt="Home view" >
                     
                      <img class="change" id="Nerdy" src="images/smallNerdy.png" alt="Home view" >
                     
                     <img class="change" id="Responsible" src="images/smallResponsible.png" alt="Home view" >
                     
                      <img class="change" id="Rich" src="images/smallRich.png" alt="Home view" >
                     
                      <img class="change" id="Social" src="images/smallSocial.png" alt="Home view" >
                     
                     </div> 
                         
                 
                     </div>
                     <div class="slider-control">
                         <img class="left" src="images/leftArrow.png" alt="Home view" >
                        <img class="right" src="images/rightArrow.png" alt="Home view" >  
                        
                     </div>
                          
                    
                 </div></div>
        </div>
    

            
            
            
            
            
            
           
    </div>

      <div class="index2" id="sectionIndex2">
         <div class="dotHr" style="">
         

                  <div ></div>
                  <div ></div>
                  
                  <div ></div>
                  <div ></div>
          <div ></div>
               
         
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                 <div></div>
                 <div></div>
                <div></div>
               <div></div>
                <div></div>
                 <div></div>
                <div></div>
             <div></div>
                           <div></div>
                <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                 <div></div>
                    
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
           
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
           
                  
      
  
  </div>
          
        <h2 class="indexheader">Start your investement plan</h2>
          <br>
          <p>I want to start an SIP of<input class="blankInput"  name="amount" id="amount" placeholder="" type="number" max="7" value=""/> per month.</p>
        <br>
  <div class="dotHr longDotUs" style=""><!-- Get Started-->
       
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       
               
       
      <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-lg moodNav pull-left getStarted" style="    width: 8em;" > Get Started</button>
              
                     
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       
         </div>
  <br>
          <br>
          <h2 class=" whatWeOffer">What we offer?</h2>
          <div class="mobileWhatWeOffer">
           <div id="myCarousel" class="carousel slide text-center carouselEdit carouselImages" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner " role="listbox" >
      
    <div class="item active" >
            <div class="offer emergency-funds">
                        <img src="images/emergencyFunds.png"  id="Broke" alt="Emergency Funds" width="auto" height="auto">
                             <p id="Broke">Emergency Funds</p>
                        </div> 
  
    </div>
    <div class="item">
           <div class="offer tax-savings">
                        <img src="images/taxSavings.png"  alt="Tax Savings" id="Changing Season" width="auto" height="auto">
                            <p id="Changing Season">Tax Savings</p>
    
                        </div> 
     
    </div>
      <div class="item">
           <div class="offer smart-goals">
                        <img src="images/smartGoals.png"  alt="Smart Goals" id="Responsible" width="auto" height="auto">
                           <p id="Responsible">Smart Goals</p>
    
                        </div> 
     
    </div>
    <div class="item">
           <div class="offer build-wealth">
                        <img src="images/buildWealth.png"  alt="Build Wealth" id="Rich" width="auto" height="auto">
                            <p id="Rich">Build Wealth</p>
    
                        </div> 
     
    </div>
        
  </div>
        

      
</div>

        <!-- Left and right controls -->
  <a class="left  " href="#myCarousel" role="button" data-slide="prev">
      <img src="images/left.png">
<!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <span class="sr-only">Previous</span>
  </a>
  <a class="right  " href="#myCarousel" role="button" data-slide="next">
<!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
            <img src="images/Right.png">
    <span class="sr-only">Next</span>
  </a>   
       </div>   
          <br>
           <button type="" id="indexScriptYourStory"  class="btn btn-lg moodNav story" > Script your Story </button> 
        </div>
       <br>
    <div class="index3">
        <h2 class="indexheader3">How it works</h2>
        <div class="row">
				
				 <div class="col-sm-6 col-md-3 PAN">
                   
                    <img id="orgPan" src="images/animHow/frog_pan.png" alt="Sign up with PAN number">
                    
                    <br>
                    <p>Sign up with <br />PAN number</p>
                </div>
				
				
					 <div class="col-sm-6 col-md-3 Package">
                   
                    <img id="p1" src="images/animHow/frog%20jump.png" alt="Choose a Package">
           
                  
                    
                    <br>
                    <p style="    margin-left: 1em;">Choose a <br />Package</p>
                </div>
				
						 <div class="col-sm-6 col-md-3 investing">
                    <img id="f1" src="images/animHow/frog_coin.png" alt="Start investing">
                     
                    
                    <br>
                    <p style="    margin-top: 0.5em;
    margin-left: 0.5em;">Start <br /> investing</p>
                </div>
				
							 <div class="col-sm-6 col-md-3 Withdraw">
                   
                  <img id="w1" src="images/animHow/frog_note1.png" alt="Withdraw anytime">
                   <br>
                    <p style="margin-top: 0.5em;">Withdraw <br /> anytime</p>
                </div>
				
			</div>
       
       </div>
       <br>
       <br>
       <div class="index4">
         <h2  class="indexheader3">Why us</h2>
           
       <div id="myCarousel" class="carousel slide text-center carouselEdit" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
      
    <div class="item active">
            <div class="">
                         <h2 class="h2hstyle shrinkleft1" >No cut</h2>
                <p  class="shrinkpara" style="font-size: inherit;
    text-align: center;" >We get no cut from fund houses,so our recommendations are unbiased.</p>
    
                        </div> 
   
    </div>
    <div class="item">
           <div class="">
                         <h2 class="h2hstyle" >No charges</h2>
                  <p class="shrinkpara" style="font-size: inherit;
    text-align: center;">We do not charge you any percentage for the amount you invest.</p>
    
                        </div> 
      
    </div>
    <div class="item">
           <div class="">
                       <h2 class="h2hstyle" >Only direct</h2>
                  <p class="shrinkpara" style="font-size: inherit;
    text-align: center;">See how direct schemes give you much higher returns than retail schemes</p>
    
                        </div> 
    
    </div>
  </div>

             

      

</div>
        <!-- Left and right controls -->
  <a id="pricingCarousel" class="left  " href="#myCarousel" role="button" data-slide="prev">
      <img src="images/left.png">
<!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <span class="sr-only">Previous</span>
  </a>
  <a  id="pricingCarousel" class="right  " href="#myCarousel" role="button" data-slide="next">
<!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
            <img src="images/Right.png">
    <span class="sr-only">Next</span>
  </a> 
          <br>
           <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-lg moodNav signUp" > Sign Up</button>  
           <br>
           <!--section41-->
        <div id="myCarousel" class="carousel slide text-center carouselEdit" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div id="index4" class="carousel-inner" role="listbox">
      
    <div class="item active">
            <div class="avatarTestimonial">
                        <img src="images/avatar.png" alt="Person" width="96" height="96">
                            <p class="name">Preety Shankar. CEO, Kode Solutions</p>
    
                        </div> 
    <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
    </div>
    <div class="item">
           <div class="avatarTestimonial">
                        <img src="images/avatar.png" alt="Person" width="96" height="96">
                            <p class="name">Preety Shankar . CEO, Kode Solutions</p>
    
                        </div> 
      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
    </div>
    <div class="item">
           <div class="avatarTestimonial">
                        <img src="images/avatar.png" alt="Person" width="96" height="96">
                            <p class="name">Preety Shankar . CEO, Kode Solutions</p>
    
                        </div> 
      <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
    </div>
  </div>

             

      

</div>
   <div class="">
         
             <h2 class="pull-left"><u>Video Tour</u> </h2>
             <h2 class="pull-right"><u>FAQ's</u></h2>
           
           
         </div>
    </div>

           <br>
          <footer>
        <div class="footerFrog">
         
         
           
             <img src="images/Footer_frog.png" />
           
         </div>
        <div class="container foot">
         
      
          
                <h4><a href="#">T & C</a></h4>
                <p><a href="#">Privacy</a></p>
                <p><a href="#">Policies</a></p>
                
                
           
            <div class="col-sm-12">
                
                <h4><a href="#">Careers</a></h4>
               
                 
                
            </div>
                     <div class=" col-sm-12">
                
                         <h4><a href="#">Media</a></h4>
                
                
                
            </div>
                     <div class="col-sm-12">
                
                         <h4><a href="#">Contact Us</a></h4>   
                
            </div>
                          <div class="col-lg-12 ">
            
              <a href="https://www.facebook.com/">  <img id="fb" src="images/social/fb.png" alt="SocialIcons"> </a>
                <a href="https://twitter.com/"> <img id="twitter" src="images/social/twitter.png" alt="SocialIcons"></a>
                <a href="https://www.linkedin.com/"> <img id="linkdin" src="images/social/linkdin.png" alt="SocialIcons"></a>
                <a href="https://plus.google.com"> <img id="gp" src="images/social/gp.png" alt="SocialIcons"></a>
<!--                 <img src="images/social/msg.png" alt="SocialIcons">-->
            </div>
                 <br>        
            <div class="newsletter">
            
                <p class="SubscribeToNewsletter" data-toggle="modal" data-target="#EmailForm">Subscribe to our newsletter</p>
            </div>
            
            </div>
       
   
       
       </footer>  
           
       </div>
    
<!--Custom Js links -->
       
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
	    
    <script src="javascripts/control.js" type="text/javascript"></script>
	 <script src="javascripts/moodCalculater.js" type="text/javascript"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-messages.min.js'></script>
   
       


	  
  </body>
    
    
</html>
